= render partial: '../views/shared/left-contents'

.right-contents
  .right-contents__header
    .right-contents__header__display
      .right-contents__header__display__group
        = @group.name
      .right-contents__header__display__member
        Member :
        .right-contents__header__display__member__name
          - @users.each do |user|
            = user.name
    = link_to "Edit", edit_group_path(@group), class: "right-contents__header__edit-button"
  .right-contents__main
    = render @messages
  .right-contents__form
    .right-contents__form__display
      .right-contents__form__display__message-box
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: "right-contents__form__display__message-box__text", placeholder: 'type a message'
          .form
            = f.label :image, class: 'right-contents__form__display__message-box__photo-icon' do
              = fa_icon 'picture-o'
              = f.file_field :image, id: "upload-icon"
          = f.submit 'Send', class: "right-contents__form__display__send-button"