.left-contents
  .left-contents__header
    .left-contents__header__user
      = current_user.name
    .left-contents__header__icon-display
      = link_to new_group_path, class: "left-contents__header__icon-display__new-group-icon" do
        = fa_icon "pencil-square-o"
        %span<>
      =link_to edit_user_path(current_user), class: "left-contents__header__icon-display__edit-account-icon" do
        = fa_icon "gear"
        %span<>
  .left-contents__main
    = render partial: "left-group-display"

.right-contents
  .right-contents__header
    .right-contents__header__display
      .right-contents__header__display__group
        group
      .right-contents__header__display__member
        Member : 
        = render partial: "member-name"
    = link_to "Edit", "", class: "right-contents__header__edit-button"
  .right-contents__main
    = render partial: "chat-display"
  .right-contents__form
    %form{:action => "/", :method => "post", class: "right-contents__form__display"}
      .right-contents__form__display__message-box
        %input{:name => "", class: "right-contents__form__display__message-box__text", placeholder: "type a message"}
          %label.right-contents__form__display__message-box__photo-icon{for: "upload-icon"}
            %i.fa.fa-picture-o
            %input{:type => "file", id: "upload-icon"}
      %input{:type => "submit", :value => "Send", class: "right-contents__form__display__send-button"}